<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="dept">
	
	<delete id="deleteTemp">
		DELETE FROM temp_dept
	</delete>
	
	<insert id="insertTemp" parameterType="com.himark.vo.JoinVO">
		INSERT INTO temp_dept
		SELECT ${dept.dept_id},
		       ${dept.dept_name},
		       ${dept.upper_dept_id}
		FROM ${defaultTable}
		<foreach collection="joinTables" item="table" separator=" ">
			LEFT JOIN ${table}
			ON ${dept.dept_id} = ${table}.${defaultColumn}
		</foreach>
	</insert>
	
	<insert id="insertDept">
		INSERT INTO dept
		SELECT dept_id, dept_name, upper_dept_id FROM temp_dept 
		WHERE dept_id NOT IN (SELECT dept_id FROM dept)
	</insert>
	
	<delete id="deleteDept">
		DELETE FROM dept 
		WHERE dept_id NOT IN (SELECT dept_id FROM temp_dept)
	</delete>
	
	<update id="updateDept">
		UPDATE dept
		INNER JOIN temp_dept
		ON dept.dept_id = temp_dept.dept_id
		<set>
			dept.dept_name = temp_dept.dept_name,
			dept.upper_dept_id = temp_dept.upper_dept_id
		</set>
		WHERE dept.dept_name != temp_dept.dept_name
		OR dept.upper_dept_id != temp_dept.upper_dept_id
	</update>
	
</mapper>