<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="duty">
	
	<delete id="deleteTemp">
		DELETE FROM temp_duty
	</delete>
	
	<insert id="insertTemp" parameterType="com.himark.vo.JoinVO">
		INSERT INTO temp_duty
		SELECT ${duty.duty_id},
		       ${duty.duty_name}
		FROM ${defaultTable}
		<foreach collection="joinTables" item="table" separator=" ">
			LEFT JOIN ${table}
			ON ${duty.duty_id} = ${table}.${defaultColumn}
		</foreach>
	</insert>
	
	<insert id="insertDuty">
		INSERT INTO duty 
		SELECT duty_id, duty_name FROM temp_duty 
		WHERE duty_id NOT IN (SELECT duty_id FROM duty)
	</insert>
	
	<delete id="deleteDuty">
		DELETE FROM duty 
		WHERE duty_id NOT IN (SELECT duty_id FROM temp_duty)
	</delete>
	
	<update id="updateDuty">
		UPDATE duty
		INNER JOIN temp_duty
		ON duty.duty_id = temp_duty.duty_id
		SET duty.duty_name = temp_duty.duty_name
		WHERE duty.duty_name != temp_duty.duty_name
	</update>
	
</mapper>