<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="duty">

	<resultMap type="com.himark.data.Duty" id="dutyMap">
		<result property="dutyId" column="duty_id"/>
		<result property="dutyName" column="duty_name"/>
	</resultMap>
	
	<!-- temp 테이블에 insert -->
	<insert id="insertTempId">
		insert into temp_duty(duty_id) select ${duty.duty_id} from ${schema}.${table}
	</insert>
	
	<update id="insertTempName">
		update temp_duty
		inner join ${schema}.${table}
		on temp_duty.duty_id = ${schema}.${duty.duty_id}
		set temp_duty.duty_name = ${schema}.${duty.duty_name}
	</update>
	
	<!-- temp 테이블 비우기 -->
	<delete id="deleteTemp">
		delete from temp_duty
	</delete>
	
	<insert id="insertDuty">
		insert into duty 
		select duty_id, duty_name from temp_duty 
		where duty_id not in (select duty_id from duty)
	</insert>
	
	<delete id="deleteDuty">
		delete from duty 
		where duty_id not in (select duty_id from temp_duty)
	</delete>
	
	<update id="updateDuty">
		update duty
		inner join temp_duty
		on duty.duty_id = temp_duty.duty_id
		set duty.duty_name = temp_duty.duty_name
		where duty.duty_name != temp_duty.duty_name;
	</update>
	
</mapper>