<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="duty">

	<insert id="insertTemp">
		insert into temp_duty values
		<foreach collection="list" item="item" separator=",">
			(#{item.companyName}, #{item.dutyId}, #{item.dutyName})	
		</foreach>
	</insert>
	
</mapper>