<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="excel">

	<update id="createTable">
		${createTable}
	</update>
	
	<update id="dropTable">
		${dropTable}
	</update>
	
	<insert id="insertTable">
		${insertTable}
	</insert>
	


</mapper>