<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="manager">

	<insert id="insertManager">
		INSERT INTO manager(manager_id, approval_target)
			SELECT DISTINCT 
				CASE authority_code
					WHEN 'A1' THEN (SELECT user_id FROM temp_user AS u1 
									WHERE authority_code = 'A2' AND u1.dept_id = t.dept_id)
					WHEN 'A2' THEN (SELECT DISTINCT user_id FROM temp_user AS u2
									JOIN dept ON u2.dept_id = dept.upper_dept_id
									WHERE authority_code = 'A2' AND dept.dept_id = d.dept_id)
			    END AS 'manager_id',
			    user_id
			FROM temp_user AS t
			INNER JOIN dept AS d 
			ON t.dept_id = d.dept_id
			WHERE t.authority_code !='A3' 
			AND t.user_id = #{userId}
	</insert>
	
	<delete id="deleteManager">
		DELETE FROM manager 
		WHERE manager_id NOT IN (SELECT user_id FROM temp_user)
		OR approval_target NOT IN (SELECT user_id FROM temp_user)
	</delete>
	
</mapper>