<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="markany">
	
	<update id="dropTable" parameterType="String">
		DROP TABLE IF EXISTS ${tempTable}
	</update>
		
	<update id="createTable" parameterType="com.himark.vo.CreateVO">
		CREATE TABLE `${tempTable}`
		<foreach collection="columnList" item="column" open="(" separator="," close=")">
			`${column}` VARCHAR(100)
		</foreach>
	</update>
	
	<insert id="insertTable">
		${insertTable}
	</insert>
	
	<insert id="insertData" parameterType="com.himark.vo.InsertVO">
		INSERT INTO ${tempTable}
		<foreach collection="keyMap" index="key" item="value" open="(" separator="," close=")">
			${key}
		</foreach>
		
		<foreach collection="dataMapList" index="key" item="item" open="VALUES" separator=",">
			<foreach collection="item.entrySet()" index="key" item="value" open="(" separator="," close=")">
				'${value}'
			</foreach>
		</foreach>
	</insert>
	
</mapper>