<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="pos">

	<resultMap type="com.himark.data.Pos" id="posMap">
		<result property="posId" column="pos_id"/>
		<result property="posName" column="pos_name"/>
	</resultMap>
	
	<!-- temp 테이블에 insert -->
	<insert id="insertTempId">
		insert into temp_pos(pos_id) select ${pos.pos_id} from ${schema}.${table}
	</insert>
	
	<update id="insertTempName">
		update temp_pos
		inner join ${schema}.${table}
		on temp_pos.pos_id = ${schema}.${pos.pos_id}
		set temp_pos.pos_name = ${schema}.${pos.pos_name}
	</update>
	
	<!-- temp 테이블 비우기 -->
	<delete id="deleteTemp">
		delete from temp_pos
	</delete>
	
	<insert id="insertPos">
		insert into pos  
		select pos_id, pos_name from temp_pos
		where pos_id not in (select pos_id from pos)
	</insert>
	
</mapper>