<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="pos">
	
	<delete id="deleteTemp">
		DELETE FROM temp_pos
	</delete>
	
	<insert id="insertTemp" parameterType="com.himark.vo.JoinVO">
		INSERT INTO temp_pos
		SELECT ${pos.pos_id},
		       ${pos.pos_name}
		FROM ${defaultTable}
		<foreach collection="joinTables" item="table" separator=" ">
			LEFT JOIN ${table}
			ON ${pos.pos_id} = ${table}.${defaultColumn}
		</foreach>
	</insert>
	
	<insert id="insertPos">
		INSERT INTO pos  
		SELECT pos_id, pos_name FROM temp_pos
		WHERE pos_id NOT IN (SELECT pos_id FROM pos)
	</insert>
	
	<delete id="deletePos">
		DELETE FROM pos 
		WHERE pos_id NOT IN (SELECT pos_id FROM temp_pos)
	</delete>
	
	<update id="updatePos">
		UPDATE pos
		INNER JOIN temp_pos
		ON pos.pos_id = temp_pos.pos_id
		SET pos.pos_name = temp_pos.pos_name
		WHERE pos.pos_name != temp_pos.pos_name
	</update>
	
</mapper>