<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="user">
	
	<resultMap type="com.himark.vo.UserVO" id="userMap">
		<result property="userId" column="user_id"/>
		<result property="userName" column="user_name"/>
		<result property="posId" column="pos_id"/>
		<result property="dutyId" column="duty_id"/>
		<result property="deptId" column="dept_id"/>
		<result property="authorityCode" column="authority_code"/>
	</resultMap>
	
	<delete id="deleteTemp">
		DELETE FROM temp_user
	</delete>
	
	<insert id="insertTemp" parameterType="com.himark.vo.JoinVO">
		INSERT INTO temp_user
		SELECT ${user.user_id},
			   ${user.user_name},
			   ${user.pos_id},
			   ${user.duty_id},
			   ${user.dept_id},
			   ${user.authority_code}
		FROM ${defaultTable}
		<foreach collection="joinTables" item="table" separator=" ">
			LEFT JOIN ${table}
			ON ${user.user_id} = ${table}.${defaultColumn}
		</foreach>
	</insert>
	
	<update id="updateTempAc">
		UPDATE temp_user as u
			LEFT JOIN temp_duty as d
			ON u.duty_id = d.duty_id
		SET u.authority_code = 
			CASE
		    WHEN d.duty_name NOT LIKE '%장' AND d.duty_name != '대표' THEN 'A1'
		    WHEN d.duty_name LIKE '%장' THEN 'A2'
		    WHEN d.duty_name = '대표' THEN 'A2'
		    WHEN d.duty_name IS NULL THEN 'A3'
		END
	</update>
	
	<insert id="insertUser">
		INSERT INTO user(user_id, user_password, user_name, pos_id, duty_id, dept_id, authority_code, current_state, flag)
		SELECT user_id, user_id, user_name, pos_id, duty_id, dept_id, authority_code, '재직', '인사연동'
		FROM temp_user
		WHERE user_id NOT IN (SELECT user_id FROM user)
	</insert>
	
	<select id="selectUser" resultMap="userMap">
		SELECT user_id, user_name, pos_id, duty_id, dept_id, authority_code 
		FROM temp_user 
		WHERE user_id NOT IN (SELECT user_id FROM user)
	</select>
	
	<update id="deleteUser">
		UPDATE user 
		SET current_state = '퇴직'
		WHERE flag = '인사연동'
		AND current_state = '재직'
		AND user_id NOT IN (SELECT user_id FROM temp_user)
		OR user_id = ANY(SELECT user_id FROM temp_user WHERE current_state = '퇴직')
	</update>

	<update id="updateUser">
		UPDATE user
		INNER JOIN temp_user
		ON user.user_id = temp_user.user_id
		<set>
			user.user_name = temp_user.user_name,
			user.pos_id = temp_user.pos_id,
			user.duty_id = temp_user.duty_id,
			user.dept_id = temp_user.dept_id,
			user.authority_code = temp_user.authority_code
		</set>
		WHERE user.user_name != temp_user.user_name
		OR user.pos_id != temp_user.pos_id
		OR user.duty_id != temp_user.duty_id
		OR user.dept_id != temp_user.dept_id
		OR user.authority_code != temp_user.authority_code
		AND user.current_state = '재직' 
		AND user.flag = '인사연동'
	</update>
	
</mapper>